.Container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.WriteArticle {
  grid-column: 1;
}

.GenerateLetter {
  grid-column: 3 / span 3;
}

/* original below 

.Blog {
}

*/

.Blog-article {
  background: white;
  padding: 10px;
  margin: 10px;
  position: relative;
}

.Blog-articleActions > div {
  display: inline-block;
  position: absolute;
  top: 10px;
  cursor: pointer;
  user-select: none;
}

.Blog-articleActions > div:first-child {
  right: 10px;
}

.Blog-articleActions > div:last-child {
  left: 10px;
}


