.WriteArticle input,
.WriteArticle textarea,
.WriteArticle button {
  font-size: 12pt;
  background: none;
  color: white;
  padding: 10px;
  width: 100%;
  display: block;
  border: 2px solid black;
  background-color: white;
  color: black;
}


 .template-button {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.template-header{
  text-align: center;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
}

.templatePage-logo{
  max-height: 300px;
}

p{
  color: black;
}

.subHeader{
  text-align: center;
  font-size: 26px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}