.Container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.WriteArticle {
	grid-column: 1;
}

.GenerateLetter {
	grid-column: 3 / span 3;
}

.WriteArticle input,
.WriteArticle textarea,
.WriteArticle button {
  font-size: 14pt;
  background: none;
  color: white;
  padding: 10px;
  width: 100%;
  display: block;
  border: 2px solid white;
}

.WriteArticle button {
  color: black;
  background: #61dafb;
}

